* {
  box-sizing: border-box;
}

/* navbar------------------ */
.navbar {
  padding: 0 30px;
}

.logo {
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
  }
.img {
    width: 100%;
}
.container {
  margin: 0 auto;
  padding: 0;;
  width: 100%;
}
.container div {
  margin: 0;
  padding: 0;
  align-self: start;
}
